[submodule "argora-public"]
	path = argora-public
	url = https://github.com/iJinjin/argora-public
[submodule "argumentative-llms"]
	path = argumentative-llms
	url = https://github.com/CLArg-group/argumentative-llms.git
[submodule "Not-All-Flips-Are-Conformity"]
	path = Not-All-Flips-Are-Conformity
	url = https://github.com/47hao030808/Not-All-Flips-Are-Conformity.git
[submodule "gepa"]
	path = gepa
	url = https://github.com/gepa-ai/gepa.git
